@import 'base';

:global {
  .btn.btn-primary {
    height: $big-font-size + $big-padding + 1rem;
    background: #222;
    border: 0.1rem solid #111;

    &:hover {
      background: #666;
      border-color: #444;
    }
  }

  .form-input {
    &.input-lg {
      @media screen and (min-width: $break-large) {
        font-size: $big-font-size;
        height: $big-font-size + $big-padding + 1rem;
        padding-left: 20px;
      }
      @media screen and (max-width: $break-small) {
        font-size: 15pt;
        padding: 1rem;
      }
    }

    &:focus {
      border-color: #444;
    }
  }

  .form-switch {
    input:checked+.form-icon {
      background: #666;
      border-color: #666;
    }
  }
}
