.changeLanguage {
  position: absolute;
  top:0;
  right: 0px;
}

.langButton {
  border: none;
  background-color: transparent;
  outline: none;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }

  &.active {
    opacity: 1 !important;
  }
}
