.errorContainer {
  position: relative;
  height: 100%;
  background: url('./static/whitehole.jpg') no-repeat center center;
  h2, h3, h5{
    margin: 0;
    padding: 20px 30px;
    display: block;
  }

  h3, h5{
    padding: 5px 30px;
  }
}
