:global {
  .filepicker.dropzone.dz-clickable{
    background-color: white;
    width: 100%;
    border: .1rem solid #c5c5c5;
    border-radius: .3rem;

    .dz-default.dz-message {
      color: #7E7F7E;
    }
  }
}
