@import 'base';

.mainContainer {
  background: url('./static/whitespaces.jpg') center center;
  background-size: cover;
  overflow: auto;
}
.content {
  @media screen and (min-width: $break-large) {
    width: 30%;
  }

  font-size: 16px;
  color: #222;
}
