:global {
  @import 'base';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    color:#222;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  @import 'nprogress';
}
