$color: #222;

#nprogress .bar {
  background-color: $color !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $color, 0 0 5px $color !important;
}

#nprogress .spinner-icon {
  border-top-color: $color !important;
  border-left-color: $color !important;
}
