.logo {
  width: 100%;
  padding-bottom: 20px;
}

// TODO find a way fix this animation on the svg

// svg#onslogo path {
//   circle,
//   path {
//     fill-opacity: 0;
//     stroke: #222;
//     stroke-width: 10;
//     stroke-linecap: round;
//     stroke-dasharray: 360;
//     stroke-dashoffset: 360;
//     animation: draw 3s 0s infinite ease-in-out;
//   }
//
//   .pathdelay1 {
//     fill-opacity: 0;
//     stroke: #222;
//     stroke-width: 10;
//     stroke-linecap: round;
//     stroke-dasharray: 20;
//     stroke-dashoffset: 20;
//     animation: draw 3s 3s infinite ease-in-out;
//   }
// }
// @keyframes draw {
//   to {
//     stroke-dashoffset: 0;
//   }
// }
